<div class="px-4 self-center mx-auto" style="width: 320px; max-width: 100%; margin-bottom: 112px">
  <!-- <h1 class="text-center mb-4">Login</h1> -->

  <div class="flex flex-column py-4">
    <!-- <img src="" alt="app logo" width="128" height="128" class="mb-4 mx-auto" /> -->

    <div class="text-center pb-4">
      <span class="text-primary fw-bold" style="font-size: 24px">{{ options.applicationName }}</span>
    </div>
  </div>

  <button mat-stroked-button color="primary" [spinning]="loginPending()" [disabled]="loginPending()" (click)="loginWithGoogle()" class="w-100">Login with Google</button>
</div>
