<div class="px-s align-self-center mx-auto" style="width: 298px; max-width: 100%; margin-bottom: 112px">
  <div class="d-flex flex-column py-s">
    <!-- <img src="" alt="app logo" width="128" height="128" class="mb-s mx-auto" /> -->

    <div class="text-center pb-s">
      <h2 class="h1 text-primary">{{ options.applicationName }}</h2>
    </div>
  </div>

  <button mat-stroked-button color="primary" [spinning]="loginPending$ | async" [disabled]="loginPending$ | async" (click)="loginWithGoogle()" class="w-100">
    Login with Google
  </button>
</div>
