<div class="app-container">
  <p>This is a collection of your books. Once you publish a book, it will be available for other users to buy.</p>

  <button mat-stroked-button color="primary" (click)="openBookCreateDialog()">Create book</button>
</div>

<div *ngIf="(booksDraft$ | async)?.length" class="app-container">
  <h2>Draft</h2>

  <p>Carefully fill in the book details. Once published, the book will be available to other users and its data cannot be changed.</p>

  <div class="row">
    <div *ngFor="let book of booksDraft$ | async" class="col-sm-6 col-lg-4 col-xl-3 mb-m">
      <a routerLink="/user/books/{{ book.id }}/edit" class="text-reset text-decoration-none"><app-user-book-card [book]="book"></app-user-book-card></a>
    </div>
  </div>
</div>

<div *ngIf="(booksPublished$ | async)?.length" class="app-container">
  <h2>Published</h2>

  <p>These books are publicly accessible and available for buying.</p>

  <div class="row">
    <div *ngFor="let book of booksPublished$ | async" class="col-sm-6 col-lg-4 col-xl-3 mb-m">
      <a routerLink="/books/{{ book.id }}" class="text-reset text-decoration-none"><app-user-book-card [book]="book"></app-user-book-card></a>
    </div>
  </div>
</div>

<div *ngIf="(booksSold$ | async)?.length" class="app-container">
  <h2>Sold</h2>

  <p>Sold books are not publicly visible any more but they will remain listed here.</p>

  <div class="row">
    <div *ngFor="let book of booksSold$ | async" class="col-sm-6 col-lg-4 col-xl-3 mb-m">
      <a routerLink="/books/{{ book.id }}" class="text-reset text-decoration-none"><app-user-book-card [book]="book"></app-user-book-card></a>
    </div>
  </div>
</div>
