<div class="container">
  <app-title-bar backUrl="/volumes" />

  <p i18n>Browse the available book offers for the selected volume.</p>

  @if (volume(); as volume) {
    <app-volume-card [volume]="volume" />

    <h2 class="mt-2m" i18n>List of book offers</h2>

    <p i18n>Select a book offer to proceed.</p>

    @defer (on immediate) {
      <app-volume-offer-list [volume]="volume" [uid]="uid()" />
    }
  } @else if (volumeLoading()) {
    <mat-spinner class="mb-s" aria-label="Loading" i18n-aria-label />
  }
</div>
