@if (publishedBooks().length) {
  <div class="overflow-x-auto pb-4">
    <table mat-table [dataSource]="publishedBooks()">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let book; index as i" class="font-semibold">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef i18n>Condition</th>
        <td mat-cell *matCellDef="let book">{{ book.condition | bookCondition }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="text-end" i18n>Price</th>
        <td mat-cell *matCellDef="let book" class="text-end">{{ book.price | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="min-width: 250px" i18n>Description</th>
        <td mat-cell *matCellDef="let book">
          @if (uid() !== book.uid) {
            {{ book.description | slice: 0 : 84 }} {{ book.description.length > 84 ? '[...]' : '' }}
          } @else {
            <span class="text-secondary" i18n>This is your own offer, thus you cannot buy it.</span>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef class="text-end" i18n>Photos</th>
        <td mat-cell *matCellDef="let book" class="text-end">{{ getPhotosTotal(book) || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let book" class="text-end">
          <a mat-button [routerLink]="['/volumes', volume()?.id, 'offer', book.id]" class="-me-2" i18n>View</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['number', 'condition', 'price', 'description', 'photos', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['number', 'condition', 'price', 'description', 'photos', 'actions']"></tr>
    </table>
  </div>
} @else {
  <p class="text-secondary py-2 text-center" i18n>No offers have been published yet.</p>
}
