<div class="container">
  <app-title-bar />

  <p class="mb-2" i18n>Welcome to my Bookstore sample app!</p>

  <p class="mb-2" i18n>Please login and try it out! You can create your own books to "sell", browse other users' books and "buy" from them.</p>

  <p class="text-error text-sm" i18n>Note: the application is currently under active development as changes can occur on a daily basis.</p>

  <h2 class="mt-0" i18n>Tech-Stack</h2>

  <p i18n>These technologies are the backbone of the application and its development process.</p>

  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    @for (item of techStack; track item.title) {
      <mat-card class="text-center">
        <img mat-card-image [src]="item.image" [alt]="item.title + ' logo'" class="mx-auto mt-4 h-[128px] rounded-none" [ngClass]="item.imageClass" />

        <mat-card-header class="mb-2 block">
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>{{ item.description }}</mat-card-content>
      </mat-card>
    }
  </div>

  <h2 i18n>Technical Features</h2>

  <p i18n>Non-content-specific features on the technical level of the application.</p>

  <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    @for (feature of features; track feature.title) {
      <mat-card class="text-center">
        <mat-card-header class="mt-1 mb-2 block">
          <mat-card-title>{{ feature.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ feature.description }}</mat-card-content>
      </mat-card>
    }
  </div>
</div>
