<div class="container">
  <app-title-bar [backUrl]="'/volumes/' + volumeId()">
    @if (offer(); as offer) {
      <button mat-stroked-button class="app-tertiary" (click)="buyBookOffer(offer)" [disabled]="isUserBook()">
        <mat-icon>shopping_cart</mat-icon>
        <span i18n>Buy</span>
      </button>
    }
  </app-title-bar>

  <p>
    <ng-container i18n>Details for the selected book offer.</ng-container>
    <span>&nbsp;</span>
    @if (isUserBook()) {
      <span class="text-tertiary" i18n>This is your own offer, thus you cannot buy it.</span>
    }
  </p>

  @if (volume(); as volume) {
    <app-volume-card [volume]="volume" class="mb-6" />

    <app-volume-offer-fields [offer]="offer()" />
  } @else if (volumeLoading()) {
    <mat-spinner class="mb-4" aria-label="Loading" i18n-aria-label />
  }
</div>
