@import 'shared';

// content-based value
$footer-mobile-breakpoint: 599px;

.app-flex-column-reverse-mobile {
  @media (max-width: $footer-mobile-breakpoint) {
    flex-direction: column-reverse !important;
  }
}

.app-me-ns {
  margin-right: -1 * app-spacer(s) !important;
}

.app-me-0-mobile {
  @media (max-width: $footer-mobile-breakpoint) {
    margin-right: 0 !important;
  }
}
