<footer class="app-container-padding d-flex align-items-center pt-2m pb-s app-flex-column-reverse-mobile">
  <div class="text-center fs-small py-2xs">
    <s>© {{ currentYear }} {{ config.copyrightName }}</s>
  </div>

  <!-- transparent vertical / horizontal separator -->
  <div class="mb-2xs me-auto"></div>

  <!-- TODO proper link targets -->
  <!-- <a mat-button routerLink="." class="text-muted fw-normal me-3xs app-me-0-mobile">Legal Notice</a> -->
  <!-- <a mat-button routerLink="." class="text-muted fw-normal app-me-ns app-me-0-mobile">Data Policy</a> -->
</footer>
