<div class="container">
  <app-title-bar />

  <!-- <h1>Heading h1</h1> -->
  <h2>Heading h2</h2>
  <h3>Heading h3, <s>h4, h5, h6</s></h3>
  <!-- <h4><s>Heading h4</s></h4> -->
  <!-- <h5><s>Heading h5</s></h5> -->
  <!-- <h6><s>Heading h6</s></h6> -->

  <p>
    Paragraph text with proper
    <span class="dev-text-primary">primary color</span>
    styling from a theme mixin and with some important text included. This text is also very long and will be wrapped.
  </p>

  <p class="mb-0"><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p class="mb-0"><u>This line of text will render as underlined.</u></p>
  <p class="mb-0"><strong>This line rendered as bold text.</strong></p>
  <!-- <p class="mb-0"><em>This line rendered as italicized text.</em></p> -->

  <p class="mb-0"><samp>This line rendered as program output sample.</samp></p>
  <p class="mb-0"><code>This line rendered as code-formatted text.</code></p>

  <h2>Button</h2>

  <p>
    Default <span class="text-primary">primary</span> theme, disabled state.
    <br />
    Custom themes: surface, <span class="text-secondary">secondary</span>, <span class="text-tertiary">tertiary</span>, <span class="text-error">error</span>.
  </p>

  <h3>Action Button</h3>

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button><mat-icon class="align-top">check</mat-icon>Main</button>
    <button mat-stroked-button><mat-icon class="align-top">check</mat-icon>Alternative</button>
    <button mat-button><mat-icon class="align-top">check</mat-icon>Miscellaneous</button>
  </div>

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button disabled><mat-icon class="align-top">remove</mat-icon>Main</button>
    <button mat-stroked-button disabled><mat-icon class="align-top">remove</mat-icon>Alternative</button>
    <button mat-button disabled><mat-icon class="align-top">remove</mat-icon>Miscellaneous</button>
  </div>

  <mat-divider class="my-4 max-w-md" />

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button class="surface"><mat-icon class="align-top">keyboard_arrow_up</mat-icon>Main</button>
    <button mat-stroked-button class="surface"><mat-icon class="align-top">keyboard_arrow_up</mat-icon>Alternative</button>
    <button mat-button class="surface"><mat-icon class="align-top">keyboard_arrow_up</mat-icon>Miscellaneous</button>
  </div>

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button class="secondary"><mat-icon class="align-top">chevron_left</mat-icon>Main</button>
    <button mat-stroked-button class="secondary"><mat-icon class="align-top">chevron_left</mat-icon>Alternative</button>
    <button mat-button class="secondary"><mat-icon class="align-top">chevron_left</mat-icon>Miscellaneous</button>
  </div>

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button class="tertiary"><mat-icon class="align-top">add</mat-icon>Main</button>
    <button mat-stroked-button class="tertiary"><mat-icon class="align-top">add</mat-icon>Alternative</button>
    <button mat-button class="tertiary"><mat-icon class="align-top">add</mat-icon>Miscellaneous</button>
  </div>

  <div class="mb-3 flex flex-wrap gap-2">
    <button mat-flat-button class="error"><mat-icon class="align-top">close</mat-icon>Main</button>
    <button mat-stroked-button class="error"><mat-icon class="align-top">close</mat-icon>Alternative</button>
    <button mat-button class="error"><mat-icon class="align-top">close</mat-icon>Miscellaneous</button>
  </div>

  <h3>Fab Button</h3>

  <div class="mb-2 flex flex-wrap gap-4">
    <button mat-mini-fab aria-label="Fab"><mat-icon>home</mat-icon></button>
    <button mat-mini-fab aria-label="Fab" disabled><mat-icon>home</mat-icon></button>
    <mat-divider vertical class="mx-2 h-[36px] self-center"></mat-divider>
    <button mat-mini-fab class="surface" aria-label="Fab"><mat-icon>home</mat-icon></button>
    <button mat-mini-fab class="secondary" aria-label="Fab"><mat-icon>home</mat-icon></button>
    <button mat-mini-fab class="tertiary" aria-label="Fab"><mat-icon>home</mat-icon></button>
    <button mat-mini-fab class="error" aria-label="Fab"><mat-icon>home</mat-icon></button>
  </div>

  <h3>Icon Button</h3>

  <div class="-my-1 -ms-2 flex flex-wrap gap-1">
    <button mat-icon-button aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
    <button mat-icon-button aria-label="Icon" disabled><mat-icon class="align-top">public</mat-icon></button>
    <mat-divider vertical class="mx-1 h-[28px] self-center"></mat-divider>
    <button mat-icon-button class="primary" aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
    <button mat-icon-button class="surface" aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
    <button mat-icon-button class="secondary" aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
    <button mat-icon-button class="tertiary" aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
    <button mat-icon-button class="error" aria-label="Icon"><mat-icon class="align-top">public</mat-icon></button>
  </div>

  <h3>Anchor Button</h3>

  <div class="-my-2 -ms-3 mb-2 flex flex-wrap gap-1">
    <a mat-button href="https://www.google.com/" target="_blank" rel="noreferrer noopener"><mat-icon class="align-top">link</mat-icon>Link</a>
    <a mat-button href="https://www.google.com/" target="_blank" rel="noreferrer noopener" disabled><mat-icon class="align-top">link</mat-icon>Link</a>
    <mat-divider vertical class="mx-2 h-[24px] self-center"></mat-divider>
    <a mat-button class="surface" href="https://www.google.com/" target="_blank" rel="noreferrer noopener"><mat-icon class="align-top">link</mat-icon>Link</a>
    <a mat-button class="secondary" href="https://www.google.com/" target="_blank" rel="noreferrer noopener"><mat-icon class="align-top">link</mat-icon>Link</a>
    <a mat-button class="tertiary" href="https://www.google.com/" target="_blank" rel="noreferrer noopener"><mat-icon class="align-top">link</mat-icon>Link</a>
    <a mat-button class="error" href="https://www.google.com/" target="_blank" rel="noreferrer noopener"><mat-icon class="align-top">link</mat-icon>Link</a>
  </div>

  <h2>Forms</h2>

  <form [formGroup]="form" (ngSubmit)="form.valid && submitForm()">
    <div class="mb-4 grid gap-4 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" email />
        <mat-error>{{ form.get('email') | validationError }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="number" min="2" max="14" />
        <span matTextSuffix class="text-secondary ms-2 text-nowrap">{{ 0 | number: '.2-2' | slice: 1 }} {{ currencySymbol }}</span>
        <mat-error>{{ form.get('number') | validationError }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fruits</mat-label>
        <select matNativeControl formControlName="select">
          <option></option>
          <option value="apples">Apples</option>
          <option value="oranges">Oranges</option>
        </select>
        <mat-error>{{ form.get('select') | validationError }}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="mb-4 max-w-xs">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="area" required minlength="3" maxlength="255" cdkTextareaAutosize></textarea>
      <mat-error>{{ form.get('area') | validationError }}</mat-error>
    </mat-form-field>

    <div class="flex flex-wrap gap-2">
      <button type="submit" mat-flat-button>Submit</button>
      <button type="button" mat-stroked-button (click)="invalidateForm()">Invalidate</button>
      <button type="reset" mat-stroked-button [disabled]="form.disabled">Reset</button>
    </div>
  </form>

  <h2>Overlay</h2>

  <h3>Dialog</h3>

  <button mat-flat-button (click)="openExampleDialog()">Open Dialog</button>

  <h3>Toast Message</h3>

  <div class="flex flex-wrap gap-2">
    <button mat-flat-button (click)="showSuccessToast()">Show Success</button>
    <button mat-stroked-button (click)="showInfoToast()">Show Info</button>
    <button mat-stroked-button (click)="showErrorToast()">Show Error</button>
  </div>

  <h2>Icons</h2>

  <p>
    There we go with a beautiful inline
    <mat-icon inline class="align-bottom">print</mat-icon>
    icon.
  </p>

  <div class="mb-4 flex flex-wrap gap-2">
    <mat-icon>repeat</mat-icon>
    <mat-icon>feedback</mat-icon>
    <mat-icon>tag</mat-icon>
    <mat-icon>warning</mat-icon>
  </div>

  <div class="flex flex-wrap gap-2">
    <mat-icon fontSet="fp" fontIcon="us" />
    <mat-icon fontSet="fp" fontIcon="de" />
    <mat-icon fontSet="fp" fontIcon="es" />
  </div>

  <h3>Spinner</h3>

  <div class="flex flex-wrap items-end gap-2">
    <mat-spinner diameter="16" />
    <mat-spinner diameter="24" />
    <mat-spinner diameter="32" />
    <mat-spinner diameter="40" />
  </div>

  <div class="flex flex-wrap items-end gap-2">
    <mat-progress-spinner diameter="16" [value]="progress()" />
    <mat-progress-spinner diameter="24" [value]="progress()" />
    <mat-progress-spinner diameter="32" [value]="progress()" />
    <mat-progress-spinner diameter="40" [value]="progress()" />
  </div>

  <h4>Button with Spinner</h4>

  <div class="flex flex-wrap gap-2">
    <button mat-flat-button [spinning]="disabled()" [disabled]="disabled()">Primary</button>
    <button mat-stroked-button [spinning]="disabled()" [disabled]="disabled()">Secondary</button>
  </div>

  <h2>Field</h2>

  <dl class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div>
      <dt>Name</dt>
      <dd>Michael Jackson</dd>
    </div>
    <div>
      <dt>Address</dt>
      <dd>Main Street 4<br />D-12345 Some City</dd>
    </div>
    <div>
      <dt>Email</dt>
      <dd>michael.jackson&#64;some-domain.com</dd>
    </div>
    <div>
      <dt>Phone Number</dt>
      <dd>+49 151 / 987 654 321</dd>
    </div>
    <div>
      <dt>Date of Birth</dt>
      <dd>{{ '1958-08-29' | date }}</dd>
    </div>
    <div>
      <dt>Dark Secrets</dt>
      <dd>-</dd>
    </div>
    <div>
      <dt>Number of Songs</dt>
      <dd>{{ 1423 | number }}</dd>
    </div>
    <div>
      <dt>Net Worth</dt>
      <dd>{{ 0 | currency }}</dd>
    </div>
  </dl>

  <h2>Utilities</h2>

  <h3>Text Alignment</h3>

  <p class="text-justify">
    Justified (left and right aligned) text with some very important information included. This text is also very long and will be wrapped. This text is also very long and will be
    wrapped. This text is also very long and will be wrapped immediately. This text is also very long and will be wrapped very immediately. This text is also very long and will be
    wrapped now.
  </p>
  <p class="mb-0 text-start">Left (start) aligned text on all viewport sizes.</p>
  <p class="mb-0 text-center">Center aligned text on all viewport sizes.</p>
  <p class="mb-0 text-end">Right (end) aligned text on all viewport sizes.</p>

  <h3>Text Size</h3>

  <p class="mb-0 text-lg">Large text (large).</p>
  <p class="mb-0 text-base">Regular text (normal). Default paragraph text size.</p>
  <p class="mb-0 text-sm">Footnote text (small).</p>
  <p class="mb-0 text-xs">Legal text (xsmall).</p>

  <h3>Text Wrap</h3>

  <div class="text-wrap" style="width: 6rem; background-color: aquamarine">This text should wrap.</div>
  <div class="text-nowrap" style="width: 8rem; background-color: burlywood">This text should overflow the parent.</div>
  <div class="truncate" style="max-width: 11rem; background-color: darkkhaki">Truncate block: Praeterea iter est quasdam res quas ex communi.</div>
  <span class="truncate" style="max-width: 11rem; display: inline-block; background-color: wheat">Truncate inline: Praeterea iter est quasdam res quas ex communi.</span>
  <p class="wrap-break-word">Break word: mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>

  <h3>Text Colors</h3>

  <p class="text-primary mb-0">.text-primary (--mat-sys-primary)</p>
  <p class="text-secondary mb-0">.text-secondary (--mat-sys-secondary)</p>
  <p class="text-tertiary mb-0">.text-tertiary (--mat-sys-tertiary)</p>
  <p class="text-error mb-0">.text-error (--mat-sys-error)</p>

  <h3>Text Transform</h3>

  <p class="mb-0 uppercase">This line rendered as uppercase text.</p>
  <p class="mb-0 lowercase">This line rendered as lowercase text.</p>
  <p class="mb-0 capitalize">This line rendered as capitalize text.</p>

  <h3>Screen Readers</h3>

  <p>
    Expose to screen readers only:
    <span class="cdk-visually-hidden">visually-hidden</span>
  </p>

  <h3>Spacing</h3>

  <p>
    Spacing syntax for margins, paddings and negative margins follows the
    <a href="https://tailwindcss.com" target="_blank" rel="noreferrer noopener">TailwindCSS</a> syntax.
  </p>

  <h4>Horizontal Gap</h4>

  <div class="flex flex-wrap gap-4">
    <div class="border-primary border px-6 py-1">Inline Block</div>
    <div class="border-primary border px-6 py-1">Inline Block</div>
    <div class="border-primary border px-6 py-1">Inline Block</div>
    <div class="border-primary border px-6 py-1">Inline Block</div>
  </div>

  <h4>Vertical Spacing</h4>

  <div class="inline-flex flex-col gap-4">
    <div class="border-primary border px-6 py-1">Block Element</div>
    <div class="border-primary border px-6 py-1">Block Element</div>
    <div class="border-primary border px-6 py-1">Block Element</div>
    <div class="border-primary border px-6 py-1">Block Element</div>
  </div>
</div>
