<div class="container">
  <app-title-bar />

  <h1>Heading h1 normal</h1>
  <h2>Heading h2 normal</h2>
  <h3>Heading h3 normal</h3>
  <h4><s>Heading h4</s></h4>
  <h5><s>Heading h5</s></h5>
  <h6><s>Heading h6</s></h6>

  <p>
    Paragraph text with proper
    <span class="app-text-primary">primary color</span>
    styling from a theme mixin and with some important text included. This text is also very long and will be wrapped.
  </p>

  <mat-divider class="mb-s" />

  <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p><u>This line of text will render as underlined.</u></p>
  <p><strong>This line rendered as bold text.</strong></p>
  <!-- <p><em>This line rendered as italicized text.</em></p> -->

  <p><samp>This line rendered as program output sample.</samp></p>
  <p><code>This line rendered as code-formatted text.</code></p>
  <pre>This line rendered as preformatted text.</pre>

  <mat-divider />

  <h2>Button</h2>

  <div class="app-gap-x-2xs mb-s">
    <button mat-flat-button color="primary">Primary</button>
    <button mat-stroked-button color="primary">Secondary</button>
    <button mat-stroked-button>Tertiary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <a mat-button color="primary" href="https://www.google.com/" target="_blank" rel="noreferrer noopener">Link</a>
  </div>

  <div class="app-gap-x-2xs mb-s">
    <button mat-flat-button color="primary" disabled>Primary</button>
    <button mat-stroked-button color="primary" disabled>Secondary</button>
    <button mat-stroked-button disabled>Tertiary</button>
    <button mat-flat-button color="accent" disabled>Accent</button>
    <button mat-stroked-button color="warn" disabled>Warn</button>
    <a mat-button color="primary" href="https://www.google.com/" target="_blank" rel="noreferrer noopener" disabled>Link</a>
  </div>

  <div class="app-gap-x-3xs mb-s">
    <button mat-icon-button color="primary" aria-label="Primary">
      <mat-icon fontIcon="fa-globe" class="align-top"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Icon Button">
      <mat-icon fontIcon="fa-globe" class="align-top"></mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Accent">
      <mat-icon fontIcon="fa-globe" class="align-top"></mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Warn">
      <mat-icon fontIcon="fa-globe" class="align-top"></mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Disabled" disabled>
      <mat-icon fontIcon="fa-globe" class="align-top"></mat-icon>
    </button>
  </div>

  <mat-divider />

  <h2>Input</h2>

  <form [formGroup]="form" (ngSubmit)="form.valid && submitForm()">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-xl-2">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" email />
          <mat-error>{{ form.get('email') | validationError }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4 col-md-3 col-xl-2">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Price</mat-label>
          <input type="number" matInput formControlName="number" min="2" max="14" />
          <span matTextSuffix class="text-nowrap text-muted ms-2xs">{{ 0 | number : '.2-2' | slice : 1 }} {{ currencySymbol }}</span>
          <mat-error>{{ form.get('number') | validationError }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4 col-md-3 col-xl-2">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Fruits</mat-label>
          <select matNativeControl formControlName="select">
            <option></option>
            <option value="apples">Apples</option>
            <option value="orages">Oranges</option>
          </select>
          <mat-error>{{ form.get('select') | validationError }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-xl-6">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="area" required minlength="3" maxlength="255" cdkTextareaAutosize></textarea>
          <mat-error>{{ form.get('area') | validationError }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="app-gap-x-2xs mb-2m">
      <button type="submit" mat-flat-button color="primary">Submit</button>
      <button type="button" mat-stroked-button color="accent" (click)="invalidateForm()">Invalidate</button>
      <button type="reset" mat-stroked-button [disabled]="form.disabled">Reset</button>
    </div>
  </form>

  <mat-divider />

  <h2>Overlay</h2>

  <h3>Dialog</h3>

  <button mat-flat-button color="primary" (click)="openExampleDialog()">Open Dialog</button>

  <h3>Toast Message</h3>

  <div class="app-gap-x-2xs mb-m">
    <button mat-flat-button color="primary" (click)="showSuccessToast()">Show Success</button>
    <button mat-stroked-button color="primary" (click)="showInfoToast()">Show Info</button>
    <button mat-stroked-button color="warn" (click)="showErrorToast()">Show Error</button>
  </div>

  <mat-divider />

  <h2>Icons</h2>

  <p>
    There we go with a beautiful inline
    <mat-icon fontIcon="fa-print" inline class="align-bottom" />
    icon.
  </p>

  <div class="app-gap-x-2xs mb-s">
    <mat-icon fontIcon="fa-print" />
    <mat-icon fontIcon="fa-envelope-o" color="primary" />
    <mat-icon fontIcon="fa-phone" color="accent" />
    <mat-icon fontIcon="fa-code" color="warn" />
    <mat-icon fontIcon="fa-close" />
    <mat-icon fontIcon="fa-cog" class="fa-spin" />
    <mat-icon fontIcon="fa-spinner" class="fa-pulse" />
    <mat-icon fontIcon="fa-circle-o-notch" class="fa-spin" />
    <mat-icon fontIcon="fa-refresh" class="fa-spin" />
    <mat-icon fontIcon="fa-home" class="fa-flip-vertical" />
    <mat-icon fontIcon="fa-thumb-tack" class="fa-rotate-90" />
  </div>

  <div class="app-gap-x-2xs mb-s">
    <mat-icon fontSet="fp" fontIcon="us" />
    <mat-icon fontSet="fp" fontIcon="de" />
    <!-- <mat-icon fontSet="fp" fontIcon="es" /> -->
  </div>

  <h3>Spinner</h3>

  <div class="d-flex app-gap-x-2xs align-items-end mb-s">
    <mat-spinner diameter="16" />
    <mat-spinner diameter="24" />
    <mat-spinner diameter="32" />
    <mat-spinner diameter="40" />
  </div>

  <div class="d-flex app-gap-x-2xs align-items-end mb-s">
    <mat-progress-spinner diameter="16" color="warn" [value]="progress$ | async" />
    <mat-progress-spinner diameter="24" color="warn" [value]="progress$ | async" />
    <mat-progress-spinner diameter="32" color="warn" [value]="progress$ | async" />
    <mat-progress-spinner diameter="40" color="warn" [value]="progress$ | async" />
  </div>

  <h4>Button with Spinner</h4>

  <div class="app-gap-x-2xs mb-s">
    <button mat-flat-button color="primary" [spinning]="disabled$ | async" [disabled]="disabled$ | async">Primary</button>
    <button mat-stroked-button color="primary" [spinning]="disabled$ | async" [disabled]="disabled$ | async">Secondary</button>
  </div>

  <!-- <h3>Button with Progress Indicator</h3>

    <div class="app-gap-x-2xs mb-s">
        <button mat-flat-button color="primary"  mode="determinate" [value]="progress$ | async" [spinning]="true" disabled>Primary</button>
        <button mat-stroked-button color="primary"  mode="determinate" [value]="progress$ | async" [spinning]="true" disabled>Secondary</button>
    </div> -->

  <mat-divider />

  <h2>Field</h2>

  <dl class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Name</dt>
      <dd>Michael Jackson</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Address</dt>
      <dd>Main Street 4<br />D-12345 Some City</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Email</dt>
      <dd>michael.jackson@some-domain.com</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Phone Number</dt>
      <dd>+49 151 / 987 654 321</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Date of Birth</dt>
      <dd>{{ '1958-08-29' | date }}</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Dark Secrets</dt>
      <dd>-</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Number of Songs</dt>
      <dd>{{ 1423 | number }}</dd>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <dt>Net Worth</dt>
      <dd>{{ 0 | currency }}</dd>
    </div>
  </dl>

  <mat-divider />

  <h2>Utilities</h2>

  <h3>Text Alignment</h3>

  <p class="text-justify">
    Justified (left and right aligned) text with some very important information included. This text is also very long and will be wrapped. This text is also very long and will be
    wrapped. This text is also very long and will be wrapped immediately. This text is also very long and will be wrapped very immediately. This text is also very long and will be
    wrapped now.
  </p>
  <p class="text-start mb-0">Left (start) aligned text on all viewport sizes.</p>
  <p class="text-center mb-0">Center aligned text on all viewport sizes.</p>
  <p class="text-end mb-0">Right (end) aligned text on all viewport sizes.</p>

  <h3>Text Size</h3>

  <p class="fs-large mb-0">Large text (large).</p>
  <p class="fs-normal mb-0">Regular text (normal). Default paragraph text size.</p>
  <p class="fs-small mb-0">Footnote text (small).</p>
  <p class="fs-xsmall mb-0">Legal text (xsmall).</p>

  <h3>Text Wrap</h3>

  <div class="text-wrap" style="width: 6rem; background-color: aquamarine">This text should wrap.</div>
  <div class="text-nowrap" style="width: 8rem; background-color: burlywood">This text should overflow the parent.</div>
  <div class="text-truncate" style="max-width: 11rem; background-color: darkkhaki">Truncate block: Praeterea iter est quasdam res quas ex communi.</div>
  <span class="text-truncate" style="max-width: 11rem; display: inline-block; background-color: wheat">Truncate inline: Praeterea iter est quasdam res quas ex communi.</span>
  <p class="text-break">Break word: mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>

  <h3>Text Colors</h3>

  <p class="text-primary mb-0">.text-primary (mat-primary)</p>
  <p class="text-accent mb-0">.text-accent (mat-accent)</p>
  <p class="text-success mb-0">.text-success</p>
  <p class="text-warn mb-0">.text-warn (mat-warn)</p>
  <p class="text-info mb-0">.text-info</p>
  <p class="text-body mb-0">.text-body (primary body color)</p>
  <p class="text-white mb-0" style="background-color: gray">.text-white (inverse body color)</p>
  <p class="text-muted mb-0">.text-muted</p>
  <p class="text-reset mb-0">.text-reset (inherited color)</p>

  <h3>Text Transform</h3>

  <p class="text-uppercase mb-0">This line rendered as uppercase text.</p>
  <p class="text-lowercase mb-0">This line rendered as lowercase text.</p>
  <p class="text-capitalize mb-0">This line rendered as capitalize text.</p>

  <h3>Screen Readers</h3>

  <p>
    Expose to screen readers only:
    <span class="cdk-visually-hidden">visually-hidden</span>
  </p>

  <h3>Spacing</h3>

  <p>
    Spacing syntax for margins, paddings and negative margins follows the
    <a href="https://getbootstrap.com/docs/5.1/utilities/spacing/" target="_blank" rel="noreferrer noopener">Bootstrap syntax</a>.
  </p>

  <h4>Horizontal Gap</h4>

  <div class="app-gap-x-m mb-s">
    <div class="d-inline-block border border-primary px-m py-3xs mb-s">Inline Block</div>
    <div class="d-inline-block border border-primary px-m py-3xs mb-s">Inline Block</div>
    <div class="d-inline-block border border-primary px-m py-3xs mb-s">Inline Block</div>
    <div class="d-inline-block border border-primary px-m py-3xs mb-s">Inline Block</div>
  </div>

  <h4>Vertical Spacing</h4>

  <div class="d-inline-block app-children-mb-m">
    <div class="border border-primary px-m py-3xs">Block Element</div>
    <div class="border border-primary px-m py-3xs">Block Element</div>
    <div class="border border-primary px-m py-3xs">Block Element</div>
    <div class="border border-primary px-m py-3xs">Block Element</div>
  </div>

  <mat-divider />

  <h2>Grid</h2>

  <div class="row app-docs-grid-colored-row mb-s">
    <div class="col-md-8 app-docs-grid-colored-col">.col-md-8</div>
    <div class="col-6 col-md-4 app-docs-grid-colored-col">.col-6 .col-md-4</div>
  </div>

  <div class="row app-docs-grid-colored-row mb-s">
    <div class="col-6 col-md-4 app-docs-grid-colored-col">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4 app-docs-grid-colored-col">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4 app-docs-grid-colored-col">.col-6 .col-md-4</div>
  </div>

  <div class="row app-docs-grid-colored-row mb-s">
    <div class="col-6 app-docs-grid-colored-col">.col-6</div>
    <div class="col-6 app-docs-grid-colored-col">.col-6</div>
  </div>
</div>
