<div class="container">
  <app-title-bar />

  <h2 class="mt-0">Tech-Stack</h2>

  <p>These technologies are the backbone of the application.</p>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://angular.io/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular logo" class="mb-nxs" height="140" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Angular</mat-card-title>
            <mat-card-subtitle>Main Framework</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Clean and consistent application structure. Heavily using rxjs' Observables and SCSS for styling.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://ngrx.io/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://ngrx.io/assets/images/badge.svg" alt="Ngrx logo" class="pt-s" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>NGRX</mat-card-title>
            <mat-card-subtitle>State Management, Logic</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Application State and View fully decoupled! View all events in the browser console in real-time.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://rxjs.dev/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="SASS logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>RXJS</mat-card-title>
            <mat-card-subtitle>Reactive Extensions</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Complex reactive processing of API requests and application data for display purposes.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://firebase.google.com/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <svg viewBox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" class="pt-3xs mt-3xs mb-n3xs" style="height: 128px">
            <defs>
              <linearGradient gradientTransform="matrix(2.67 0 0 -2.67 317.23 -1808)" gradientUnits="userSpaceOnUse" id="dd" x1="-108.63" x2="-58.56" y1="-692.24" y2="-742.31">
                <stop offset="0" stop-color="#fff" stop-opacity=".1"></stop>
                <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
              </linearGradient>
              <linearGradient gradientUnits="userSpaceOnUse" id="bb" x1="56.9" x2="48.9" y1="102.54" y2="98.36">
                <stop offset="0" stop-color="#a52714"></stop>
                <stop offset=".4" stop-color="#a52714" stop-opacity=".5"></stop>
                <stop offset=".8" stop-color="#a52714" stop-opacity="0"></stop>
              </linearGradient>
              <linearGradient gradientUnits="userSpaceOnUse" id="cc" x1="90.89" x2="87.31" y1="90.91" y2="87.33">
                <stop offset="0" stop-color="#a52714" stop-opacity=".8"></stop>
                <stop offset=".5" stop-color="#a52714" stop-opacity=".21"></stop>
                <stop offset="1" stop-color="#a52714" stop-opacity="0"></stop>
              </linearGradient>
              <clipPath id="aa">
                <path
                  d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150l57.9 32.46a12 12 0 0011.7 0L160 150z"
                ></path>
              </clipPath>
            </defs>
            <g clip-path="url(#aa)">
              <path d="M32 150L53.66 11.39a4 4 0 017.48-1.27l22.4 41.78 8.93-17a4 4 0 017.08 0L160 150z" fill="#ffa000"></path>
              <path d="M106 9L0 0v192l32-42L106 9z" fill="url(#bb)" opacity=".12"></path>
              <path d="M106.83 96.01l-23.3-44.12L32 150l74.83-53.99z" fill="#f57c00"></path>
              <path d="M0 0h192v192H0z" fill="url(#cc)" opacity=".2"></path>
              <path d="M160 150L143.41 47.34a4 4 0 00-6.77-2.16L32 150l57.9 32.47a12 12 0 0011.7 0z" fill="#ffca28"></path>
              <path
                d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150h-.08l.07.08.57.28L115.83 67l20.78-20.8a4 4 0 016.78 2.16l16.45 101.74.16-.1zM32.19 149.81L53.66 12.39a4 4 0 017.48-1.28l22.4 41.78 8.93-17a4 4 0 017.08 0l16 30.43z"
                fill="#fff"
                fill-opacity=".2"
              ></path>
              <path
                d="M101.6 181.49a12 12 0 01-11.7 0l-57.76-32.4-.14.91 57.9 32.46a12 12 0 0011.7 0L160 150l-.15-.92z"
                fill="#a52714"
                opacity=".2"
                style="isolation: isolate"
              ></path>
              <path
                d="M143.41 47.34a4 4 0 00-6.77-2.16L115.88 66 99.54 34.89a4 4 0 00-7.08 0l-8.93 17-22.4-41.77a4 4 0 00-7.48 1.28L32 150l57.9 32.46a12 12 0 0011.7 0L160 150z"
                fill="url(#dd)"
              ></path>
            </g>
          </svg>

          <mat-card-header class="mb-2xs">
            <mat-card-title>Firebase</mat-card-title>
            <mat-card-subtitle>Backend Services</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Using authentication, NoSQL realtime database, file storage and web hosting services.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://material.angular.io/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://material.angular.io/assets/img/angular-material-logo.svg" alt="Angular Material logo" class="pt-s" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Material</mat-card-title>
            <mat-card-subtitle>Angular Components</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Native Angular components with customized theming, typography and general appearence.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img
            mat-card-image
            src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png"
            alt="Bootstrap logo"
            class="mx-auto mt-2xs mb-n2xs"
            width="155"
            height="128"
          />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Bootstrap</mat-card-title>
            <mat-card-subtitle>Grid, Helpers, Typography</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Consistent global syntax for grid, helpers and typography. Using its variables as center piece.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://iconape.com/wp-content/png_logo_vector/typescript.png" alt="TypeScript logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>TypeScript</mat-card-title>
            <mat-card-subtitle>JavaScript Extended</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Strictly configured for null-safety, safe variable initialization and reliable use of types.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://sass-lang.com/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://sass-lang.com/assets/img/logos/logo.svg" alt="SASS logo" class="pt-s" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>SCSS</mat-card-title>
            <mat-card-subtitle>CSS Extended</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Leverage variables and CSS generation features, global and component-scoped.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://eslint.org/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img
            mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/ESLint_logo.svg/192px-ESLint_logo.svg.png"
            alt="Eslint logo"
            class="mx-auto pt-s px-2xs"
            width="145"
            height="128"
          />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Eslint</mat-card-title>
            <mat-card-subtitle>Code Linting</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Semi-automated code quality tooling with extensive custom configuration and plugins.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://prettier.io/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img mat-card-image src="https://prettier.io/icon.png" alt="Eslint logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Prettier</mat-card-title>
            <mat-card-subtitle>Code Formatting</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Fully automated opinionated code quality tooling for appearence and consistency.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <img
            mat-card-image
            src="https://cdn.freebiesupply.com/logos/large/2x/git-icon-logo-png-transparent.png"
            alt="TypeScript logo"
            class="mx-auto pt-s px-2xs"
            width="128"
            height="128"
          />

          <mat-card-header class="mb-2xs">
            <mat-card-title>Git</mat-card-title>
            <mat-card-subtitle>Version Management</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Structured and persistent development progression using branching, stashing, rebasing.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <a href="https://github.com" target="_blank" rel="noopener noreferrer" class="text-reset text-decoration-none">
        <mat-card class="text-center mb-m">
          <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="mx-auto pt-s px-2xs" width="128" height="128">
            <path
              d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
            ></path>
          </svg>

          <mat-card-header class="mb-2xs">
            <mat-card-title>Github</mat-card-title>
            <mat-card-subtitle>Code Management</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>Transparent development experience using pull requests and branch safety options.</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <h2>Technical Features</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>Authentication</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>Browse anonymously, login to interact with existing books or create your own.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>Internationalization</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>Fully translated application content with respective locale formatting.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>Responsive Design</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>The semi-dynamic application layout fully supports all common device sizes.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>NoSQL Database</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>Any changes by the user are persistently saved using Firebase realtime database.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>File Upload</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>Select, crop and upload image files for display alongside with regular data.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>Forms</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>A variety of form fields with consistent offline and on-response validation.</p></mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m" style="border-radius: 999px !important">
        <mat-card-header class="mt-3xs mb-2xs">
          <mat-card-title>External API</mat-card-title>
        </mat-card-header>
        <mat-card-content><p>Find your favourite books with Google Books API and provide custom data.</p></mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
