<div class="container">
  <app-title-bar />

  <div class="row">
    <div class="col-md-6">
      <h2>Tech-Stack</h2>
      <dl>
        <dt>Angular</dt>
        <dd>Clean and consistent application structure. Heavily using rxjs' Observables and SCSS for styling.</dd>
        <dt>Ngrx</dt>
        <dd>Application State and View fully decoupled! View all events in the browser console in real-time.</dd>
        <dt>Material Components</dt>
        <dd>View built with native angular components.</dd>
        <dt>Firebase</dt>
        <dd>Using authentication, nosql database, file storage and web hosting modules.</dd>
        <dt>Bootstrap</dt>
        <dd>Consistent global syntax for CSS helpers.</dd>
        <dt>Prettier + Eslint</dt>
        <dd>Beautiful and consistent code using custom config.</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Technical Features</h2>
      <dl>
        <dt>Authentication</dt>
        <dd>Browse anonymous, interact as user.</dd>
        <dt>Internationalization</dt>
        <dd>Each language comes with respective locale formatting.</dd>
        <dt>External API</dt>
        <dd>Find your favourite books with Google Books API and add custom data.</dd>
        <dt>Image Upload</dt>
        <dd>Crop and upload photos for others to display.</dd>
        <dt>Forms</dt>
        <dd>Form fields with consistent offline and on-response online validation.</dd>
      </dl>
    </div>
  </div>
</div>
