@use '@angular/material' as mat;

.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
  border-radius: $border-radius !important;
}

.mat-mdc-outlined-button {
  &.mat-primary:not([disabled]) {
    border-color: mat.m2-get-color-from-palette($primary-palette);
    background-color: rgba(mat.m2-get-color-from-palette($primary-palette), 0.08);
  }

  &.mat-accent:not([disabled]) {
    border-color: mat.m2-get-color-from-palette($accent-palette);
    background-color: rgba(mat.m2-get-color-from-palette($accent-palette), 0.08);
  }

  &.mat-warn:not([disabled]) {
    border-color: mat.m2-get-color-from-palette($warn-palette);
    background-color: rgba(mat.m2-get-color-from-palette($warn-palette), 0.08);
  }

  &[disabled] {
    border-color: currentcolor;
    background-color: rgb(0 0 0 / 4%);
  }

  &:not(.mat-primary, .mat-accent, .mat-warn) {
    border-color: rgb(0 0 0 / 32%);
  }
}
