@use '@angular/material' as mat;

.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
  border-radius: $border-radius !important;
}

.mat-mdc-outlined-button {
  &.mat-primary:not([disabled]) {
    background-color: rgba(mat.get-color-from-palette($app-primary), 0.08);
    border-color: mat.get-color-from-palette($app-primary);
  }
  &.mat-accent:not([disabled]) {
    background-color: rgba(mat.get-color-from-palette($app-accent), 0.08);
    border-color: mat.get-color-from-palette($app-accent);
  }
  &.mat-warn:not([disabled]) {
    background-color: rgba(mat.get-color-from-palette($app-warn), 0.08);
    border-color: mat.get-color-from-palette($app-warn);
  }
  &[disabled] {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: currentColor;
  }
  &:not(.mat-primary):not(.mat-accent):not(.mat-warn) {
    border-color: rgba(0, 0, 0, 0.32);
  }
}
