@use '@angular/material' as mat;

.mat-mdc-card {
  border-radius: $border-radius !important;
}

.mat-mdc-card.text-center .mat-mdc-card-header-text {
  margin-right: auto;
  margin-left: auto;
}

a .mat-mdc-card,
button .mat-mdc-card {
  @include mat.elevation-transition;
}

a:hover .mat-mdc-card,
button:hover .mat-mdc-card {
  @include mat.elevation(4);
}
