$tokens: ();

$surface-tokens: (
  color: var(--mat-sys-on-surface),
);

$primary-tokens: (
  color: var(--mat-sys-primary),
);

$secondary-tokens: (
  color: var(--mat-sys-secondary),
);

$tertiary-tokens: (
  color: var(--mat-sys-tertiary),
);

$error-tokens: (
  color: var(--mat-sys-error),
);
