.mat-icon {
  vertical-align: middle;

  // scale down
  &.fa.fa-users {
    font-size: 90%;
    margin-bottom: 1px;
  }

  // flagpack svg set
  &.fp {
    height: initial; // allow the 4x3 variants to fill in nicely
  }
}

.mat-icon-inline {
  vertical-align: bottom;
}
