$tokens: ();
$surface-tokens: (
  active-indicator-color: var(--mat-sys-on-surface),
);
$primary-tokens: (
  active-indicator-color: var(--mat-sys-primary),
);
$secondary-tokens: (
  active-indicator-color: var(--mat-sys-secondary),
);
$tertiary-tokens: (
  active-indicator-color: var(--mat-sys-tertiary),
);
$error-tokens: (
  active-indicator-color: var(--mat-sys-error),
);
