@use 'sass:color';

.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    border-radius: $border-radius !important;
  }

  .mat-mdc-simple-snack-bar {
    line-height: 24px; // fix: text beyond the line hight was cut off
  }
}

.mat-mdc-snack-bar-container.success .mdc-snackbar__label,
.mat-mdc-snack-bar-container.error .mdc-snackbar__label,
.mat-mdc-snack-bar-container.info .mdc-snackbar__label {
  margin-left: app-spacer(8); // icon spacing

  &::before {
    position: absolute;
    left: app-spacer(4);

    display: inline-block;

    width: 1.25em;

    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-rendering: auto;
  }
}

.mat-mdc-snack-bar-container.success {
  .mdc-snackbar__surface {
    border: $success 1px solid;
    background-color: color.adjust($success, $lightness: 66%);
  }

  .mdc-snackbar__label {
    color: $body-color;

    &::before {
      content: '\f00c'; // fa-check
      display: inline;
      color: $success;
    }
  }
}

.mat-mdc-snack-bar-container.error {
  .mdc-snackbar__surface {
    border: $warn 1px solid;
    background-color: color.adjust($warn, $lightness: 40%);
  }

  .mdc-snackbar__label {
    color: $body-color;

    &::before {
      content: '\f00d'; // fa-times
      display: inline;
      color: $warn;
    }
  }
}

.mat-mdc-snack-bar-container.info {
  .mdc-snackbar__surface {
    border: $info 1px solid;
    background-color: color.adjust($info, $lightness: 49%);
  }

  .mdc-snackbar__label {
    color: $body-color;

    &::before {
      content: '\f129'; // fa-info
      display: inline;
      color: $info;
    }
  }
}
