@use '@angular/material' as mat;

// Define a custom typography config that overrides the font-family as well as the `headline`, `body-1`,... levels.
$typography-config: mat.m2-define-typography-config(
  $font-family: $font-family-base,
  $headline-5: mat.m2-define-typography-level($h1-font-size, $headings-line-height, $font-weight-bold),
  $headline-6: mat.m2-define-typography-level($h2-font-size, $headings-line-height, $font-weight-bold),
  $subtitle-1: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $subtitle-2: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-semibold),
  $body-1: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $body-2: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $caption: mat.m2-define-typography-level($font-size-sm, $line-height-base, $font-weight-normal),
  $button: mat.m2-define-typography-level($font-size-sm, $line-height-sm, $font-weight-bold),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-teal-palette);

// The warn palette is optional (defaults to red).
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography: $typography-config,
  )
);
