.mat-mdc-tooltip {
  border-radius: $border-radius !important;

  padding-left: app-spacer(s) !important;
  padding-right: app-spacer(s) !important;

  background: rgba(0, 0, 0, 0.75) !important;

  font-size: font-size(small);

  padding-top: app-spacer(2xs);
  padding-bottom: app-spacer(2xs);
}
