.mat-tooltip {
  border-radius: $border-radius !important;

  padding-left: spacer(s) !important;
  padding-right: spacer(s) !important;

  background: rgba(0, 0, 0, 0.75) !important;

  font-size: font-size(small);

  padding-top: spacer(2xs);
  padding-bottom: spacer(2xs);
}
