.mat-toolbar div {
  line-height: 66px !important; // pull slightly down (header height is 64px on desktop)

  // hardcoded mat-toolbar mobile breakpoint
  @media (max-width: 599px) {
    line-height: 57px !important; // pull slightly down (header height is 56px on mobile)
  }
}

.mat-toolbar div,
.mat-toolbar .mat-mdc-button,
.mat-toolbar .mat-mdc-icon-button,
.mat-toolbar .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  height: 100% !important;
  border-radius: 0 !important;
}
