@use '@angular/material' as mat;

// Define a custom typography config that overrides the font-family as well as the `headline`, `body-1`,... levels.
$app-typography-config: mat.m2-define-typography-config(
  $font-family: $font-family-base,
  $headline-5: mat.m2-define-typography-level($h1-font-size, $headings-line-height, $font-weight-bold),
  $headline-6: mat.m2-define-typography-level($h2-font-size, $headings-line-height, $font-weight-bold),
  $subtitle-1: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $subtitle-2: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-semibold),
  $body-1: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $body-2: mat.m2-define-typography-level($font-size-base, $line-height-base, $font-weight-normal),
  $caption: mat.m2-define-typography-level($font-size-sm, $line-height-base, $font-weight-normal),
  $button: mat.m2-define-typography-level($font-size-sm, $line-height-sm, $font-weight-bold),
);
