<div class="mt-10 mb-4 flex flex-col items-center">
  @if (user(); as user) {
    <img [src]="user?.photoURL" alt="user" width="128" height="128" class="mb-2 rounded-lg border p-1 text-xs font-normal" i18n-alt />

    <div>{{ user?.displayName }}</div>
  } @else {
    <div class="mb-2 rounded-lg border p-1 text-xs font-normal" style="width: 128px; height: 128px">
      <div class="bg-surface-container-highest text-surface flex h-full w-full flex-col items-center justify-center rounded-md text-6xl">?</div>
    </div>

    <div i18n>Anonymous User</div>
  }
  <div class="text-primary mt-2 text-xl">{{ options.applicationName }}</div>
</div>

<mat-divider class="mx-4" />

<mat-nav-list>
  @for (link of publicLinks; track link.path) {
    <a mat-list-item [routerLink]="link.path" routerLinkActive [activated]="a.isActive" (click)="navigated.emit()" #a="routerLinkActive">
      <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
      {{ link.label }}
    </a>
  }
</mat-nav-list>

<mat-divider class="mx-4" />

@if (user(); as user) {
  <mat-nav-list>
    @for (link of userLinks; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive [activated]="a.isActive" (click)="navigated.emit()" #a="routerLinkActive">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        {{ link.label }}
      </a>
    }
  </mat-nav-list>

  <mat-divider class="mx-4" />

  <mat-action-list>
    <button mat-list-item (click)="openUserSessionInfoDialog(user); navigated.emit()">
      <mat-icon matListItemIcon>attribution</mat-icon>
      <span i18n>Session Info</span>
    </button>

    <button mat-list-item (click)="logout(); navigated.emit()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span i18n>Logout</span>
    </button>
  </mat-action-list>
} @else {
  <mat-nav-list>
    <a mat-list-item routerLink="/login" routerLinkActive [activated]="a.isActive" (click)="navigated.emit()" #a="routerLinkActive">
      <mat-icon matListItemIcon>login</mat-icon>
      <span i18n>Login</span>
    </a>
  </mat-nav-list>
}
<button mat-icon-button (click)="navigated.emit()" class="absolute end-0 top-0 m-2" aria-label="Close" i18n-aria-label>
  <mat-icon class="align-super">close</mat-icon>
</button>
