<mat-card *ngIf="book">
  <mat-card-header>
    <img mat-card-sm-image [src]="book.volume.volumeInfo.imageLinks.thumbnail" alt="user" class="order-first me-s" />
    <mat-card-title>{{ book.volume.volumeInfo.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.volume.volumeInfo.authors }}</mat-card-subtitle>
    <mat-card-subtitle>{{ book.volume.volumeInfo.publishedDate | date : 'yyyy' }} {{ book.volume.volumeInfo.publisher }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="py-2xs">
    <p class="mb-xs">{{ book.volume.volumeInfo.description | slice : 0 : 100 }}...</p>

    <ng-container *ngIf="book.description || book.condition || book.price">
      <mat-divider></mat-divider>

      <dl class="mt-2xs">
        <div *ngIf="book.description">
          <dt>Description</dt>
          <dd>{{ book.description | slice : 0 : 100 }}...</dd>
        </div>
        <div *ngIf="book.condition" class="row">
          <dt class="col-6">Condition</dt>
          <dd class="col-6">{{ book.condition | bookCondition }}</dd>
        </div>
        <div *ngIf="book.price" class="row">
          <dt class="col-6">Price</dt>
          <dd class="col-6">{{ book.price | currency }}</dd>
        </div>
      </dl>
    </ng-container>
  </mat-card-content>
</mat-card>
