<mat-card *ngIf="book">
  <mat-card-header>
    <img mat-card-sm-image [src]="book.volume.volumeInfo.imageLinks.thumbnail" alt="user" class="order-first me-s" />
    <mat-card-title>{{ book.volume.volumeInfo.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.volume.volumeInfo.authors }}</mat-card-subtitle>
    <mat-card-subtitle>{{ book.volume.volumeInfo.publishedDate | date : 'yyyy' }} {{ book.volume.volumeInfo.publisher }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="py-2xs">
    <p class="mb-xs">{{ book.volume.volumeInfo.description | slice : 0 : 92 }}...</p>

    <ng-container *ngIf="book.description || book.condition || book.price">
      <mat-divider></mat-divider>

      <dl class="row mt-2xs">
        <div *ngIf="book.condition" class="col-12">
          <dt>Condition</dt>
          <dd>{{ book.condition | bookCondition }}</dd>
        </div>
        <div *ngIf="book.price" class="col-12">
          <dt>Price</dt>
          <dd>{{ book.price | currency }}</dd>
        </div>
        <div *ngIf="book.description" class="col-12">
          <dt>Description</dt>
          <dd>{{ book.description | slice : 0 : 92 }}...</dd>
        </div>
      </dl>
    </ng-container>
  </mat-card-content>
</mat-card>
