@use 'flagpack/src/flagpack'
  with(
    $fp-countries: (
      'de',
      'es',
      'us',
    ),
    $fp-size: calc(24px * 3 / 4),
    $fp-size-md: false,
    $fp-size-lg: false,
    $fp-enable-1x1: false,
    $fp-enable-rounded: false
  );

mat-icon.fp:not([inline]) {
  height: 18px !important; // override mat-icon height: support 4x3 variants
  margin-top: 3px; // align total icon height with material default: 24px
  margin-bottom: 3px; // align total icon height with material default: 24px
}
