// shared: mixins

@mixin app-container-fluid {
  padding-right: app-spacer(4);
  padding-left: app-spacer(4);

  @media (min-width: app-grid-breakpoint('sm')) {
    padding-right: app-spacer(6);
    padding-left: app-spacer(6);
  }

  @media (min-width: app-grid-breakpoint('xl')) {
    padding-right: app-spacer(8);
    padding-left: app-spacer(8);
  }
}

@mixin app-container {
  width: $app-container-max-width;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include app-container-fluid;
}
