// shared: mixins

@mixin app-container-padding {
    padding-left: app-spacer(s);
    padding-right: app-spacer(s);

    @media (min-width: app-grid-breakpoint(sm)) {
        padding-left: app-spacer(m);
        padding-right: app-spacer(m);
    }

    @media (min-width: app-grid-breakpoint(lg)) {
        padding-left: app-spacer(2m);
        padding-right: app-spacer(2m);
    }
}

@mixin app-container {
    @include app-container-padding;

    width: $app-container-max-width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
