// shared: variables

$app-container-max-width: 1320px;

$app-background-color-light: #fafafa;

$app-font-sizes: (
    xl: 1.25rem,
    l: 1.125rem,
    m: 1rem,
    s: 0.875rem,
    xs: 0.75rem,
);

$app-font-weights: (
    400: 400,
    700: 700,
);
