// shared: variables

$app-container-max-width: 1320px;
$app-background-color-light: #fafafa;

// compatibility: bootstrap variables used before migration
$primary: rgb(63 81 181); // equals mat-primary
$accent: rgb(0 150 136); // equals mat-accent
$success: #198754 !default;
$info: $primary;
$warn: rgb(244 67 54); // equals mat-warn
$body-color: #212529 !default;
$border-radius: 0.125rem;
$font-family-base: 'Inter';
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * 0.875 !default;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$line-height-base: 1.5;
$line-height-sm: 1.25;
$headings-line-height: 1.2;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
$spacer: 4px;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
) !default;
