// Global flagpack config

// countries
$fp-countries: 'de', 'es', 'us';

// sizes
$fp-size: calc(24px * 3 / 4); // set height by ratio: 24px * (3 / 4) = 18px
$fp-size-md: false;
$fp-size-lg: false;

// styles
$fp-enable-1x1: false;
$fp-enable-rounded: false;

@import 'flagpack/src/flagpack';

.fp {
  height: initial !important; // support 4x3 variants: override mat-icon height
  margin-top: 3px; // total icon height required: 24px
  margin-bottom: 3px; // total icon height required: 24px
}
