/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'mixins';

@import 'material';

@import 'common';

// TODO migrate

.text-primary {
  color: $primary;
}

.text-accent {
  color: $accent;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warn {
  color: $warn;
}

.text-muted {
  color: rgb(100 100 100);
}
