@if (volume(); as volume) {
  <mat-card>
    <mat-card-header>
      <img mat-card-sm-image [src]="volume.volumeInfo.imageLinks.thumbnail" alt="volume cover" class="order-first me-4" i18n-alt />
      <mat-card-title>{{ volume.volumeInfo.title }}</mat-card-title>
      <mat-card-subtitle>{{ volume.volumeInfo.authors }}</mat-card-subtitle>
      <mat-card-subtitle>{{ volume.volumeInfo.publishedDate | date: 'yyyy' }} {{ volume.volumeInfo.publisher }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="py-2">
      <p class="mb-3">{{ volume.volumeInfo.description | slice: 0 : 92 }}...</p>

      @if (booksTotal(); as n) {
        <mat-divider />

        <p class="text-secondary mt-3 mb-2">
          <ng-container i18n>{n, plural,
            =1 {One book available for {{ lowestPrice() | currency }}.}
            other {{{ n }} books available starting from {{ lowestPrice() | currency }}.}
          }</ng-container>
        </p>
      }
      <ng-content />
    </mat-card-content>
  </mat-card>
}
