// config
$fp-prefix: 'fp' !default;
$fp-prepend: true;
// countries
$fp-countries: 'us';
// sizes
$fp-size: calc(24px * 3 / 4);
$fp-size-md: false;
$fp-size-lg: false;
// styles
$fp-enable-4x3: true !default;
$fp-enable-1x1: false;
$fp-enable-rounded: false;

@import 'flagpack/src/flagpack';
