@if (user(); as user) {
  <div class="mt-10 mb-4 flex flex-col items-center">
    <img [src]="user?.photoURL" alt="user" width="128" height="128" class="rounded-circle mb-2 border p-1 text-xs font-normal" i18n-alt />
    {{ user?.displayName }}
  </div>

  <mat-nav-list>
    @for (link of PUBLIC_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive [activated]="isActive(link)" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-divider class="mx-4" />

  <mat-nav-list class="pb-0">
    @for (link of USER_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-action-list class="pt-0">
    <button mat-list-item (click)="openUserSessionInfoDialog(user); navigated.emit()" i18n>Session Info</button>

    <button mat-list-item (click)="logout(); navigated.emit()" i18n>Logout</button>

    <button mat-list-item (click)="themeService.toggleTheme()">
      @if (themeService.theme === 'dark') {
        <mat-icon matListItemIcon>dark_mode</mat-icon>
      } @else {
        <mat-icon matListItemIcon>light_mode</mat-icon>
      }
      Theme
    </button>
  </mat-action-list>
} @else {
  <div class="mt-10 mb-4 flex flex-col items-center">
    <div class="rounded-circle mb-2 border p-1" style="width: 128px; height: 128px">
      <div class="rounded-circle bg-light flex h-100 w-100 flex-col items-center justify-center" style="color: lightgrey; font-size: 56px">?</div>
    </div>

    <div i18n>Anonymous User</div>
  </div>

  <mat-nav-list>
    @for (link of PUBLIC_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-divider class="mx-4" />

  <mat-action-list>
    <button mat-list-item (click)="navigateToLogin(); navigated.emit()">Login</button>

    <button mat-list-item (click)="themeService.toggleTheme()">
      @if (themeService.theme === 'dark') {
        <mat-icon matListItemIcon>dark_mode</mat-icon>
      } @else {
        <mat-icon matListItemIcon>light_mode</mat-icon>
      }
      Theme
    </button>
  </mat-action-list>
}
<button mat-icon-button (click)="navigated.emit()" class="position-absolute end-0 top-0 m-1" aria-label="Close" i18n-aria-label>
  <mat-icon>close</mat-icon>
</button>
