<div *ngIf="user$ | async as user; else notAuthenticated" class="d-flex flex-column align-items-center mt-3m mb-s">
    <img [src]="user?.photoURL || 'favicon.ico'" alt="current user" width="128" height="128" class="rounded-circle fs-xs fw-400 mb-2xs p-3xs border" />
    {{ user?.displayName || 'Current User' }}
</div>

<ng-template #notAuthenticated>
    <div class="d-flex flex-column align-items-center mt-3m mb-s">
        <div class="mb-2xs p-3xs border rounded-circle" style="width: 128px; height: 128px">
            <div class="d-flex flex-column justify-content-center align-items-center rounded-circle w-100 h-100 bg-light" style="color: lightgrey; font-size: 56px">?</div>
        </div>
        New User
    </div>
</ng-template>

<mat-nav-list dense class="py-2xs">
    <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="navigated.emit()">Home</a>

    <a mat-list-item routerLink="/search" routerLinkActive="active" (click)="navigated.emit()">Search</a>

    <a mat-list-item routerLink="/user/profile" routerLinkActive="active" (click)="navigated.emit()">Profile</a>

    <a *ngIf="!production" mat-list-item routerLink="/dev" routerLinkActive="active" (click)="navigated.emit()">Dev</a>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-action-list dense class="py-2xs">
    <button *ngIf="loggedOut$ | async" mat-list-item (click)="navigateToLogin(); navigated.emit()">Login</button>

    <button *ngIf="user$ | async as user" mat-list-item (click)="openUserSettingsDialog(user); navigated.emit()">User Settings</button>

    <button *ngIf="loggedIn$ | async" mat-list-item (click)="logout(); navigated.emit()">Logout</button>
</mat-action-list>
