@import 'shared';

a.mdc-list-item,
button.mdc-list-item {
  // apply deep styles for this component only
  ::ng-deep .mdc-list-item__primary-text {
    color: $primary !important;
    font-weight: $font-weight-semibold !important;
  }

  &.active {
    background-color: lighten($primary, 45%) !important;
  }

  &:focus,
  &:hover {
    background-color: lighten($primary, 49%) !important;

    &::before {
      background-color: transparent !important; // override material default
    }
  }
}
