@if (user(); as user) {
  <div class="flex flex-col items-center mt-10 mb-4">
    <img [src]="user?.photoURL" alt="user" width="128" height="128" class="rounded-circle text-xs font-normal mb-2 p-1 border" i18n-alt />
    {{ user?.displayName }}
  </div>

  <mat-nav-list>
    @for (link of PUBLIC_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-divider class="mx-4" />

  <mat-nav-list class="pb-0">
    @for (link of USER_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-action-list class="pt-0">
    <button mat-list-item (click)="openUserSessionInfoDialog(user); navigated.emit()" i18n>Session Info</button>
    <button mat-list-item (click)="logout(); navigated.emit()" i18n>Logout</button>
  </mat-action-list>
} @else {
  <div class="flex flex-col items-center mt-10 mb-4">
    <div class="mb-2 p-1 border rounded-circle" style="width: 128px; height: 128px">
      <div class="flex flex-col justify-center items-center rounded-circle w-100 h-100 bg-light" style="color: lightgrey; font-size: 56px">?</div>
    </div>

    <div i18n>Anonymous User</div>
  </div>

  <mat-nav-list>
    @for (link of PUBLIC_LINKS; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active" (click)="navigated.emit()">{{ link.label }}</a>
    }
  </mat-nav-list>

  <mat-divider class="mx-4" />

  <mat-action-list>
    <button mat-list-item (click)="navigateToLogin(); navigated.emit()">Login</button>
  </mat-action-list>
}
<button mat-icon-button color="primary" (click)="navigated.emit()" class="position-absolute top-0 end-0 m-1" aria-label="Close" i18n-aria-label>
  <mat-icon fontIcon="fa-times" class="align-top" style="scale: 0.75" />
</button>
