<div class="app-container">
  <p>Carefully fill in the book details. Once published, these data cannot be changed any more.</p>

  <a *ngIf="book$ | async as book" routerLink="/books/{{ book.id }}" class="text-reset text-decoration-none">
    <app-user-book-card [book]="book"></app-user-book-card>
  </a>

  <form [formGroup]="form" (ngSubmit)="saveChanges()" class="mt-2m">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Condition</mat-label>
          <select matNativeControl formControlName="condition">
            <option></option>
            <option [value]="BookCondition.NEW">New</option>
            <option [value]="BookCondition.VERY_GOOD">Very good</option>
            <option [value]="BookCondition.VISIBLY_USED">Visibly used</option>
            <option [value]="BookCondition.DAMAGED">Damaged</option>
          </select>
          <mat-error>{{ form.get('condition') | validationError }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Price</mat-label>
          <input type="number" matInput formControlName="price" min="0" max="500" />
          <span matTextSuffix class="text-muted ms-2xs">{{ 0 | currency | slice : 1 }}</span>
          <mat-error>{{ form.get('price') | validationError }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-8">
        <mat-form-field class="w-100 mb-s">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" rows="3" minlength="100"></textarea>
          <mat-hint>Describe your specific book as good as possible.</mat-hint>
          <mat-error>{{ form.get('description') | validationError }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="app-gap-x-2xs mb-2m">
      <button type="submit" mat-stroked-button color="primary" [spinning]="editingDraft$ | async" [disabled]="editingDraft$ | async">Save changes</button>
      <button type="button" mat-stroked-button (click)="discardChanges()">Reset</button>
      <button type="reset" mat-stroked-button>Clear</button>
    </div>
  </form>

  <div class="app-gap-x-2xs">
    <button type="button" mat-stroked-button color="accent" (click)="publishBook()" [spinning]="publishing$ | async" [disabled]="publishing$ | async">
      Publish book
    </button>
    <button type="button" mat-stroked-button color="warn" (click)="deleteBook()" [spinning]="deleting$ | async" [disabled]="deleting$ | async">
      Delete book
    </button>
  </div>
</div>
