<div class="container">
  <app-title-bar backUrl="/user/books">
    <button mat-stroked-button (click)="publishBook()" [spinning]="publishPending()" [disabled]="publishDisabled()" i18n>Publish Book</button>
    <button mat-stroked-button (click)="deleteBook()" [spinning]="deletePending()" [disabled]="deleteDisabled()" i18n>Delete Book</button>
  </app-title-bar>

  <p i18n>Carefully fill in the book details. Once published, this data cannot be changed anymore.</p>

  @if (book(); as book) {
    <app-volume-card [volume]="book.volume" class="mb-6" />

    <div class="mb-6">
      <h2 class="h3" i18n>Custom photos</h2>

      <input type="file" class="none" accept="image/*" #picker (change)="cropAndUploadPhoto($any($event.target).files[0]); picker.type = ''; picker.type = 'file'" />

      <app-image-upload
        [images]="getObjectValues(book.photos)"
        [readonly]="book.status !== BookStatus.DRAFT"
        [uploading]="uploadPhotoPending()"
        (fileSelect)="picker.click()"
        (removeAll)="removeAllPhotos()"
      />
    </div>

    <mat-divider />

    <form [formGroup]="form" (ngSubmit)="saveChanges()" class="mt-8">
      <div class="flex flex-wrap gap-4">
        <mat-form-field class="max-w-xs">
          <mat-label i18n>Condition</mat-label>
          <select matNativeControl formControlName="condition">
            <option></option>
            <option [value]="BookCondition.NEW">{{ BookCondition.NEW | bookCondition }}</option>
            <option [value]="BookCondition.VERY_GOOD">{{ BookCondition.VERY_GOOD | bookCondition }}</option>
            <option [value]="BookCondition.VISIBLY_USED">{{ BookCondition.VISIBLY_USED | bookCondition }}</option>
            <option [value]="BookCondition.DAMAGED">{{ BookCondition.DAMAGED | bookCondition }}</option>
          </select>
          <mat-error>{{ form.get('condition') | validationError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="max-w-xs">
          <mat-label i18n>Price</mat-label>
          <input type="number" matInput formControlName="price" min="0" max="500" />
          <span matTextSuffix class="text-secondary ms-2 text-nowrap">{{ 0 | number: '.2-2' | slice: 1 }} {{ currencySymbol }}</span>
          <mat-error>{{ form.get('price') | validationError }}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="max-w-xs">
        <mat-label i18n>Description</mat-label>
        <textarea matInput formControlName="description" minlength="24" maxlength="254" cdkTextareaAutosize></textarea>
        <mat-error>{{ form.get('description') | validationError }}</mat-error>
      </mat-form-field>

      <div class="mb-8 gap-x-2">
        <button type="submit" mat-stroked-button [spinning]="editDraftPending()" [disabled]="editDraftDisabled()" i18n>Save changes</button>
        <button type="button" mat-stroked-button (click)="discardChanges()" [disabled]="form.disabled" i18n>Reset</button>
        <button type="reset" mat-stroked-button [disabled]="form.disabled" i18n>Clear</button>
      </div>
    </form>
  } @else if (bookLoading()) {
    <mat-spinner class="mb-4" aria-label="Loading" i18n-aria-label />
  }
</div>
