<h2 mat-dialog-title i18n>Crop Image</h2>

<div mat-dialog-content>
  @if (loadError) {
    <p class="text-error" i18n>Error loading image.</p>
  }

  <image-cropper
    [imageFile]="data.file"
    format="png"
    [maintainAspectRatio]="false"
    [resizeToWidth]="1024"
    [resizeToHeight]="1024"
    [cropperMinWidth]="512"
    [cropperMinHeight]="512"
    [onlyScaleDown]="true"
    (imageCropped)="result = $event.blob"
    (loadImageFailed)="loadError = true"
  />
</div>

<mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close]="result">
    <mat-icon>crop</mat-icon>
    <span i18n>Crop</span>
  </button>

  <button mat-stroked-button class="app-secondary" mat-dialog-close>
    <mat-icon>close</mat-icon>
    <span i18n>Cancel</span>
  </button>
</mat-dialog-actions>
