<div class="container">
  <app-title-bar backUrl="/user/books">
    <!-- <button mat-stroked-button disabled>View Offers</button> -->
    <button mat-stroked-button color="accent" disabled i18n>Publish Book</button>
    <button mat-stroked-button color="warn" disabled i18n>Delete Book</button>
  </app-title-bar>

  <p>
    <ng-container i18n>Details for the selected book.</ng-container>
    <span>&nbsp;</span>
    @if (book()?.status === BookStatus.PUBLISHED) {
      <span i18n>This book has been published and is available for other users to buy it.</span>
    }
    @if (book()?.status === BookStatus.SOLD) {
      <span i18n>This book is no longer visible to other users.</span>
    }
  </p>

  @if (book(); as book) {
    <app-volume-card [volume]="book.volume" class="mb-m" />

    <app-volume-offer-fields [offer]="book" />
  }
</div>
