<div class="container">
  <app-title-bar backUrl="/user/books">
    <!-- <button mat-stroked-button disabled>View Offers</button> -->
    <button mat-stroked-button color="accent" disabled i18n>Publish Book</button>
    <button mat-stroked-button color="warn" disabled i18n>Delete Book</button>
  </app-title-bar>

  <p>
    <ng-container i18n>Details for the selected book.</ng-container>
    <span>&nbsp;</span>
    <span *ngIf="(book$ | async)?.status === BookStatus.PUBLISHED" i18n>This book has been published and is available for other users to buy it.</span>
    <span *ngIf="(book$ | async)?.status === BookStatus.SOLD" i18n>This book is no longer visible to other users.</span>
  </p>

  <ng-container *ngIf="book$ | async as book">
    <app-volume-card [volume]="book.volume" class="mb-m" />

    <app-volume-offer-fields [offer]="book" />
  </ng-container>
</div>
