<div class="container">
  <app-title-bar [backUrl]="'/volumes/' + id">
    <button *ngIf="offer$ | async as offer" mat-stroked-button color="accent" (click)="buyBookOffer(offer)" [disabled]="isUserBook$ | async" i18n>Buy Book</button>
  </app-title-bar>

  <p i18n>Details for the selected book offer. <span *ngIf="isUserBook$ | async" class="text-info">This is your own offer, thus you cannot buy it.</span></p>

  <div *ngIf="volume$ | async as volume">
    <app-volume-card [volume]="volume" />

    <div *ngIf="offer$ | async as offer" class="mt-2m">
      <dl class="row">
        <div class="col-12 mb-2xs">
          <dt i18n>Description</dt>
          <dd>{{ offer.description }}</dd>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <dt i18n>Condition</dt>
          <dd>{{ offer.condition | bookCondition }}</dd>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <dt i18n>Price</dt>
          <dd>{{ offer.price | currency }}</dd>
        </div>
      </dl>

      <h3 i18n>Available Photos</h3>

      <div class="d-flex flex-wrap">
        <img *ngFor="let photo of getOfferPhotos(offer)" [src]="photo.src" [alt]="photo.alt" class="me-s mb-s" style="max-height: 256px" />

        <p *ngIf="!getOfferPhotos(offer).length" class="text-muted fs-small mt-nxs" i18n>No photos were uploaded.</p>
      </div>
    </div>
  </div>
</div>
