<div class="container">
  <app-title-bar [backUrl]="'/volumes/' + id">
    @if (offer(); as offer) {
      <button mat-stroked-button color="accent" (click)="buyBookOffer(offer)" [disabled]="isUserBook()" i18n>Buy Book</button>
    }
  </app-title-bar>

  <p>
    <ng-container i18n>Details for the selected book offer.</ng-container>
    <span>&nbsp;</span>
    @if (isUserBook()) {
      <span class="text-info" i18n>This is your own offer, thus you cannot buy it.</span>
    }
  </p>

  @if (volume(); as volume) {
    <app-volume-card [volume]="volume" class="mb-m" />

    <app-volume-offer-fields [offer]="offer()" />
  } @else if (volumeLoading()) {
    <mat-spinner class="mb-s" aria-label="Loading" i18n-aria-label></mat-spinner>
  }
</div>
