@use '@angular/material' as mat;

.bg-light {
    background-color: $app-background-color-light;
}

.bg-success-light {
    background-color: lighten($success, 66);
}

.bg-warn-light {
    background-color: lighten($warn, 40);
}

.bg-info-light {
    background-color: lighten($info, 37);
}
