@each $key, $value in $spacers {
  .app-gap-x-#{$key} {
    margin-left: -0.5 * $value !important;
    margin-right: -0.5 * $value !important;

    > * {
      margin-left: 0.5 * $value !important;
      margin-right: 0.5 * $value !important;
    }
  }
  .app-children-mt-#{$key} > * {
    margin-top: $value !important;
  }
  .app-children-mb-#{$key} > * {
    margin-bottom: $value !important;
  }
  .app-children-my-#{$key} > * {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
}
