<div class="mb-2 flex flex-wrap gap-x-2">
  @for (image of images(); track image) {
    <a [href]="image.src" target="_blank" class="mb-2"><img [src]="image.src" alt="photo" class="rounded" height="96" i18n-alt /></a>
  }
</div>

<div class="flex flex-wrap gap-x-2">
  <button mat-stroked-button (click)="fileSelect.emit()" [spinning]="uploading()" [disabled]="readonly() || uploading()" i18n>Upload Image</button>
  <button mat-stroked-button (click)="removeAll.emit()" [disabled]="readonly() || !images().length" i18n>Remove All</button>
</div>
