<div class="container">
  <app-title-bar>
    <button mat-stroked-button (click)="clearSearch()" [disabled]="filterQueryEmpty()" i18n>Clear Search</button>
  </app-title-bar>

  <p i18n>Explore books available for purchase.</p>

  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
    @for (volume of volumesFiltered(); track volume) {
      <a routerLink="/volumes/{{ volume.id }}" class="text-inherit text-decoration-none"><app-volume-card [volume]="volume" /></a>
    } @empty {
      @if (volumesLoading()) {
        <mat-spinner class="mb-4" aria-label="Loading" i18n-aria-label />
      } @else {
        <p class="text-center text-muted py-2" i18n>No books were found.</p>
      }
    }
  </div>
</div>
