<h3 mat-dialog-title i18n>Session Info</h3>

<div mat-dialog-content>
  <dl class="grid sm:grid-cols-2 pt-3 -mb-4">
    <div>
      <dt i18n>Name</dt>
      <dd>{{ user.displayName || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Email</dt>
      <dd>{{ user.email || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Login Providers</dt>
      <dd>{{ getAuthProviders(user) || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Last Login</dt>
      <dd>{{ (user.metadata.lastLoginAt | date) || '-' }}</dd>
    </div>
  </dl>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close i18n>Close</button>
</div>
