<h3 mat-dialog-title>Session Info</h3>

<div mat-dialog-content>
  <dl class="row">
    <div class="col-sm-6">
      <dt>Name</dt>
      <dd>{{ user.displayName || '-' }}</dd>
    </div>
    <div class="col-sm-6">
      <dt>Last Login</dt>
      <dd>{{ (user.metadata.lastLoginAt | date) || '-' }}</dd>
    </div>
    <div class="col-sm-6">
      <dt>Email</dt>
      <dd>{{ user.email || '-' }}</dd>
    </div>
    <div class="col-sm-6">
      <dt>Phone Number</dt>
      <dd>{{ user.phoneNumber || '-' }}</dd>
    </div>
    <div class="col-sm-6">
      <dt>Login Providers</dt>
      <dd>{{ getAuthProviders(user) || '-' }}</dd>
    </div>
    <div class="col-sm-6">
      <dt>Email Verified</dt>
      <dd>{{ user.emailVerified | boolean : 'YesNo' || '-' }}</dd>
    </div>
  </dl>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>
