@if (offer) {
  <dl class="row">
    <div class="col-12 mb-2xs">
      <dt i18n>Description</dt>
      <dd>{{ offer.description }}</dd>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <dt i18n>Condition</dt>
      <dd>{{ offer.condition | bookCondition }}</dd>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <dt i18n>Price</dt>
      <dd>{{ offer.price | currency }}</dd>
    </div>
  </dl>

  <mat-divider class="mb-m" />

  <div class="d-flex flex-wrap">
    @for (photo of getOfferPhotos(offer); track photo) {
      <a [href]="photo.src" target="_blank" class="me-s mb-s"><img [src]="photo.src" alt="photo" class="img-fluid rounded" style="max-height: 256px" i18n-alt /></a>
    } @empty {
      <p class="text-center text-muted w-100" i18n>No photos were uploaded.</p>
    }
  </div>
}
