@if (offer) {
  <dl class="row">
    <div class="col-12 mb-2xs">
      <dt i18n>Description</dt>
      <dd>{{ offer.description }}</dd>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <dt i18n>Condition</dt>
      <dd>{{ offer.condition | bookCondition }}</dd>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <dt i18n>Price</dt>
      <dd>{{ offer.price | currency }}</dd>
    </div>
  </dl>

  @for (photo of getOfferPhotos(offer); track photo.id) {
    <div class="d-flex flex-wrap">
      <img [src]="photo.src" [alt]="photo.alt" class="me-s mb-s" style="max-height: 256px" />
    </div>
  } @empty {
    <p class="text-center text-muted py-2xs" i18n>No photos were uploaded.</p>
  }
}
