<h1 mat-dialog-title>New Book</h1>

<div mat-dialog-content>
  <mat-form-field floatLabel="always" class="w-50 mt-2xs">
    <mat-label>Search volume</mat-label>
    <input matInput [formControl]="control" placeholder="Title, author, text,..." />
    <mat-spinner *ngIf="searchPending$ | async" matSuffix diameter="24" class="me-s"></mat-spinner>
  </mat-form-field>

  <mat-selection-list color="primary" [multiple]="false" #list="matSelectionList">
    <mat-list-option *ngFor="let volume of volumes$ | async | slice : 0 : 7" [value]="volume" class="text-truncate">
      <img *ngIf="volume.volumeInfo.imageLinks" [src]="volume.volumeInfo.imageLinks.smallThumbnail" alt="Book thumbnail" height="44" width="44" class="me-s" />
      <span class="fw-700">{{ volume.volumeInfo.title }}</span>

      <span *ngIf="volume.volumeInfo.subtitle" class="text-muted ms-2xs">&nbsp;{{ volume.volumeInfo.subtitle }}</span>
    </mat-list-option>
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    (click)="createUserBook(list.selectedOptions.selected[0].value)"
    [spinning]="creating$ | async"
    [disabled]="list.selectedOptions.isEmpty() || (creating$ | async)"
  >
    Create book
  </button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</div>
