<h2 mat-dialog-title i18n>Create a new book</h2>

<div mat-dialog-content>
  <div class="mt-2 grid">
    <mat-form-field floatLabel="always" class="max-w-xs">
      <mat-label i18n>Search</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Title, author, text,..." i18n-placeholder />
      @if (searchPending()) {
        <mat-spinner matSuffix diameter="24" class="me-4" />
      }
    </mat-form-field>
  </div>

  <mat-selection-list [multiple]="false" #list="matSelectionList" class="-mx-6 py-0">
    @for (volume of results(); track volume.id) {
      <mat-list-option [value]="volume" class="truncate px-2">
        @if (volume.volumeInfo.imageLinks?.smallThumbnail; as thumbnail) {
          <img matListItemIcon [src]="thumbnail" alt="book thumbnail" class="my-2 h-18" i18n-alt />
        } @else {
          <!-- TODO placeholder -->
        }
        <div matListItemTitle>{{ volume.volumeInfo.title || '-' }}</div>
        <div matListItemLine>{{ (volume.volumeInfo.authors | array) || '-' }}</div>
        <div matListItemLine>{{ ([volume.volumeInfo.publishedDate | date, volume.volumeInfo.publisher] | array) || '-' }}</div>
      </mat-list-option>
    }
  </mat-selection-list>
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    class="app-tertiary"
    (click)="createUserBook(list.selectedOptions.selected[0].value)"
    [spinning]="createPending()"
    [disabled]="list.selectedOptions.isEmpty() || createPending()"
  >
    <mat-icon>create</mat-icon>
    <span i18n>Create</span>
  </button>

  <button mat-stroked-button class="app-secondary" mat-dialog-close>
    <mat-icon>close</mat-icon>
    <span i18n>Cancel</span>
  </button>
</div>
