<h3 mat-dialog-title i18n>Crop Image</h3>

<div mat-dialog-content>
  <p *ngIf="loadError" class="text-warn">TODO translate: Error loading image.</p>

  <image-cropper
    [imageFile]="file"
    format="png"
    [maintainAspectRatio]="false"
    [resizeToWidth]="1024"
    [resizeToHeight]="1024"
    [cropperMinWidth]="512"
    [cropperMinHeight]="512"
    [onlyScaleDown]="true"
    (imageCropped)="setResult($event)"
    (loadImageFailed)="loadError = true"
  />
</div>

<mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="result" i18n>Crop Image</button>
  <button mat-stroked-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
