@use '@angular/material' as mat;

@import 'shared';

.mat-toolbar-row {
  @include app-container-fluid;

  [mat-button]:first-child {
    margin-left: -8px;
  }
  [mat-button]:last-child {
    margin-right: -8px;
  }
  [mat-icon-button]:first-child {
    margin-left: -12px;
  }
  [mat-icon-button]:last-child {
    margin-right: -12px;
  }
}

.mat-toolbar .mat-mdc-form-field ::ng-deep .mat-mdc-text-field-wrapper::after,
.mat-toolbar .mat-mdc-button::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: $primary;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s;
}

.mat-toolbar .mat-mdc-form-field.mat-focused ::ng-deep .mat-mdc-text-field-wrapper::after,
.mat-toolbar .mat-mdc-button.active::after {
  width: calc(100% - 16px);
  transition: width 0.3s;
}

.mat-toolbar div {
  height: 100% !important;
  display: flex;
  align-items: center;

  // hardcoded mat-toolbar mobile breakpoint
  @media (max-width: 599px) {
    line-height: 57px !important; // pull slightly down (header height is 56px on mobile)
  }
}

.mat-toolbar .mat-mdc-button,
.mat-toolbar .mat-mdc-icon-button,
:host .mat-toolbar .mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  height: 100% !important;
  border-radius: 0 !important;
}

.mat-mdc-form-field ::ng-deep {
  .mat-mdc-form-field-infix {
    height: 64px; // matches toolbar height for desktop layout
    padding-top: 21px !important;
    padding-bottom: 19px !important;
  }

  .mdc-line-ripple {
    opacity: 0 !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
  }
}
