@use '@angular/material' as mat;

@import 'shared';

.app-sidebar-toggle {
  width: app-spacer(s) + app-spacer(s) + 24px !important; // horizontal padding + default icon-button size of 24px
  padding: app-spacer(s);
  margin-left: -1 * app-spacer(s) !important; // adjust spacing within the container padding
}

.mat-toolbar {
  line-height: inherit !important;
}

.mat-toolbar-row {
  @include app-container-padding;
}

.mat-mdc-button::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: $primary;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s;
}

.mat-mdc-button.active::after {
  width: calc(100% - 16px);
  transition: width 0.3s;
}

.mat-toolbar div {
  height: 100% !important;
  line-height: 66px !important; // pull slightly down (header height is 64px on desktop)

  // hardcoded mat-toolbar mobile breakpoint
  @media (max-width: 599px) {
    line-height: 57px !important; // pull slightly down (header height is 56px on mobile)
  }
}

.mat-mdc-button,
.mat-mdc-icon-button,
:host .mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  height: 100% !important;
  border-radius: 0 !important;
}
