@use '@angular/material' as mat;

$tabs-tokens: (
  active-indicator-height: 3px,
  container-height: 64px,
  divider-height: 0,
);

:host {
  @include mat.tabs-overrides($tabs-tokens);

  ::ng-deep .mdc-tab-indicator__content--underline {
    width: calc(100% - 16px); // value by visuals
  }
}
