<mat-toolbar class="shadow">
  <mat-toolbar-row>
    <ng-container *ngIf="desktop$ | async; else mobile">
      <div class="text-primary fs-large me-s">{{ options.applicationName }}</div>

      <a mat-button *ngFor="let link of PUBLIC_LINKS" color="primary" [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</a>

      <span class="me-auto"></span>

      <form [formGroup]="form" (ngSubmit)="search()">
        <mat-form-field appearance="fill" style="min-width: 254px">
          <mat-icon fontIcon="fa-search" class="text-primary" style="padding-top: 2px" />
          <input matInput formControlName="query" placeholder="Search books..." aria-label="Search" />
          <mat-spinner *ngIf="searching$ | async" matSuffix diameter="24" class="me-s" />
          <!-- <button type="submit" mat-icon-button color="primary" aria-label="Submit" matSuffix>
            <mat-icon fontIcon="fa-chevron-right" />
          </button> -->
        </mat-form-field>
      </form>

      <span class="ms-2xs me-auto"></span>
      <span class="me-auto"></span>
      <span class="me-auto"></span>

      <ng-container *ngIf="user$ | async as user; else public">
        <button mat-button (click)="openUserSettingsDialog(user)">
          <app-header-user-info [user]="user" />
        </button>

        <mat-divider vertical class="mx-2xs" style="height: 32px" />

        <a mat-button *ngFor="let link of USER_LINKS" color="primary" [routerLink]="link.path" routerLinkActive="active">{{ link.label }}</a>

        <button mat-button color="primary" (click)="logout()" class="me-n2xs">Logout</button>
      </ng-container>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #public>
  <a *ngIf="displayLogin$ | async" mat-button color="primary" routerLink="/login" class="me-ns">Login</a>
</ng-template>

<ng-template #mobile>
  <button mat-icon-button color="primary" (click)="sidenavToggle.emit()" aria-label="Toggle Navigation" class="ms-nxs me-3xs">
    <mat-icon fontIcon="fa-bars" style="font-size: 20px" />
  </button>

  <div class="text-primary fs-normal me-s">{{ options.applicationName }}</div>
</ng-template>
