<h2 mat-dialog-title i18n>Session Info</h2>

<div mat-dialog-content>
  <dl class="grid sm:grid-cols-2">
    <div>
      <dt i18n>Name</dt>
      <dd>{{ user.displayName || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Email</dt>
      <dd>{{ user.email || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Login Providers</dt>
      <dd>{{ getAuthProviders(user) || '-' }}</dd>
    </div>

    <div>
      <dt i18n>Last Login</dt>
      <dd>{{ (user.metadata.lastLoginAt | date) || '-' }}</dd>
    </div>
  </dl>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button class="app-secondary" mat-dialog-close>
    <mat-icon>close</mat-icon>
    <span i18n>Close</span>
  </button>
</div>
